/**** Importation de la police "Alan Sans" ****/

@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');

/**** Reset ****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button {
    outline: none;
    border: none;
}

/**** Style général de la page ****/

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d1d1e9;
    color: #2b2c34;
    font-family: "Alan Sans", sans-serif;
}

header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}

.main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    max-width: 600px;
    width: 100%;
    padding: 0 20px;
}

.container {
    width: 100%;
    background-color: #fffffe;
    border-radius: 9px;
    padding: 30px 30px 45px;
    transition: box-shadow 0.3s ease-out;
}

.container:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.69);
}

.search {
    position: relative;
    margin: 35px 0 18px;
}

.search input {
    width: 100%;
    height: 53px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #2b2c34;
    padding: 0 42px;
    transition: all 0.3s ease-out;
}

.search input:focus {
    padding: 0 41px;
    border: 2px solid #6246ea;
}

.search input::placeholder {
    color: #b8b8b8;
}

.search :where(i, span) {
    position: absolute;
    top: 50%;
    color: #999999;
    transform: translateY(-50%);
}

.search i {
    left: 18px;
    font-size: 16px;
    pointer-events: none;
}

.search input:focus~i {
    color: #6246ea;
}

.search span {
    right: 25px;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease-out;
}

.search span:hover {
    color: #e45858;
}

.search input:valid~span {
    display: block;
}

.text__info {
    font-size: 13px;
    color: #2b2c34;
    margin: -3px 0 -10px;
}

.container.active .info__text {
    display: none;
}

.text__info span {
    font-weight: 900;
}

ul {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.container.active ul {
    height: auto;
    opacity: 1;
}

ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
    padding-bottom: 17px;
    border-bottom: 1px solid #cccccc;
}

ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

ul .word p {
    font-size: 22px;
    font-weight: bold;
}

ul .word span {
    font-size: 12px;
    color: #989898;
}

ul .word i {
    cursor: pointer;
    font-size: 15px;
    color: #999999;
}

ul .content {
    max-height: 215px;
    overflow-y: auto;
}

ul .content::-webkit-scrollbar {
    width: 0;
}

.content li .details {
    padding-left: 10px;
    border-radius: 4px 0 0 4px;
    border-left: 3px solid #6246ea;
}

.content li .details p {
    font-size: 17px;
    font-weight: bold;
}

.content li .details span {
    font-size: 15px;
    color: #7e7e7e;
}

.details span {
    line-height: 1.4;
    padding: 10px;
}

.synonyms .details .list {
    display: flex;
    flex-wrap: wrap;
}

.synonyms .details .list span {
    margin-right: 5px;
    text-decoration: underline;
    cursor: pointer;
}

.synonyms .details .list span:hover {
    color: #6246ea;
}

footer {
    margin-top: 20px;
}

footer span {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}